In [11]:
import pandas as pd
#import pyarrow as pa
import json

In [12]:
# Definicon de Rutas y nombre de archvios
input_path = 'C:\\Users\\Jesus\\Documents\\proyectos\\Parket-to-Json\\input\\'
output_path = 'C:\\Users\\Jesus\\Documents\\proyectos\\Parket-to-Json\\output\\'
input_file = 'business.parquet'
output_file = 'business.json'

In [18]:
# Lee el archvio parquet y lo convierte en un DataFrame
df = pd.read_parquet(input_path + input_file)

columnas = df.columns

df.head(2)

,ID_CLIENTE,ANTIGUEDAD_MESES,TIPO_TARJETA,LINEA_CREDITO,RNG_LINEA,DEUDA_TARJETA,SEGMENTO_BANCO,AMBITO,ZONA,EDAD,SEXO,ECIVIL,Total_facturacion,Num_compras
0,C0000001,R4. [24-MAS>,CLASICA,30000,30000,0.0,SEGMENTO BRONCE,L,CALLAO,65.0,M,CASADO,478.80,1
1,C0000002,R4. [24-MAS>,CLASICA,21000,22000,0.0,SEGMENTO ORO,L,MODERNA,67.0,F,SOLTERO,1374.15,3

In [31]:
def convertir_clave_valor(tupla):
    clave, valor = tupla
    if type(valor) == int:
        return f"'{clave}':{valor}"
    else :
        return f"'{clave}':'{valor}'"

In [32]:
coleccion = list()
for fila in range(len(df)):
    coleccion.append([convertir_clave_valor((columnas[columna], df.iloc[fila,columna])) for columna in range(len(columnas))])
    #coleccion = {convertir_clave_valor(clave_valor) for clave_valor in coleccion}

In [33]:
f = open (output_path + output_file,'w')

In [34]:
f.write("[  \r")
for cole in coleccion:
    f.write("  {\r")
    for i in range(len(cole)):
        f.write("   " + cole[i] + "\r")
    if i == len(cole) - 1:
        f.write("  },\r")
    else :
        f.write("  }\r")
f.write("]  \r")
f.close()

In [29]:
var = 6

if type(var) == int:
    print('Entero')

Entero